.title{
    font-family     : 'Bebas Neue', sans-serif;
    text-align      : center;
    font-size       : 50px;
}
.subtitle{
    font-family     : 'Bebas Neue', sans-serif;
    text-align      : center;
    font-size       : 20px;
}
.main{
    justify-content : center;
}
.sobre{
    text-align      : center;
    font-family     : 'Bebas Neue', sans-serif;
    font-size       : 25px;
}

