.sidenav {
    height  : 100vh;
    width   : 100vw;
  }
  
  .sidenav-content {
    display         : flex;
    height          : 100%;
    align-items     : start;
    justify-content : start;
  }
  
