body{
  margin : 0px;
  padding: 0px;
}
.container {
  width: 500px;
  height: 300px;
  border: 1px solid rgba(228, 16, 16, 0.5);
}

.sidenav-content {
  display: flex;
  height: 100% !important;
  align-items: center;
  justify-content: center;
}

.sidenav {
  padding: 20px !important;
  width: 100% !important;
}